/* General styles */

.panel {
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 4px black;
}

.title {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.button {
    background-color: white;
    border: none;
    box-shadow: 1px 1px 4px black;
    padding: 5px 10px;
    margin: 10px 0;
    height: 32px;
}
.button:hover {
    opacity: 0.75;
    cursor: pointer;
}
.button[disabled] {
    opacity: 0.75;
    cursor: default;
}
.button.primary {
    background-color: #55f;
    color: white;
}
.button.danger {
    background-color: #f55;
    color: white;
}

.link {
    color: #33f;
    text-decoration: none;
}
.link:hover, .link:visited {
    color: #55f
}

.input {
    border-radius: 0;
    border: 1px solid #333;
    height: 20px;
    margin: 10px 0;
    padding: 5px 10px;
    display: block;
}
.input:read-only {
    border: none;
    background-color: #eee;
    cursor: default;
}

.error {
    color: #f55;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex .item:not(:last-child) {
    margin-right: 10px;
}
.flex-between {
    justify-content: space-between;
}

.label {
    font-weight: bold;
}
.label:after {
    content: ':';
}
